
<div class="row">
    <div class="cb-col-25 col-sm-6">
        <div class="widget-panel widget-style-1 bg-primary">
            <h2 class="m-0 text-white counter font-40 font-400 text-center">@ViewBag.products</h2>
            <div class="text-white text-opt  m-t-5 text-center font-12">PRODUCTS</div>
            <div class="sparkline1"></div>
        </div>
    </div>
    <div class="cb-col-25 col-sm-6">
        <div class="widget-panel widget-style-1 bg-success">
            <h2 class="m-0 text-white counter font-40 font-400 text-center">#@ViewBag.profits</h2>
            <div class="text-white text-opt m-t-5 text-center font-12">TOTAL PROFIT</div>
            <div class="sparkline1"></div>
        </div>
    </div>
    <div class="cb-col-25 col-sm-6">
        <div class="widget-panel widget-style-1 bg-info">
            <h2 class="m-0 text-white counter font-40 font-400 text-center">@ViewBag.transactions</h2>
            <div class="text-white text-opt m-t-5 text-center font-12">TRANSACTIONS</div>
            <div class="sparkline1"></div>
        </div>
    </div>
    <div class="cb-col-25 col-sm-6">
        <div class="widget-panel widget-style-1 bg-purple">
            <h2 class="m-0 text-white counter font-40 font-400 text-center">#@ViewBag.sales</h2>
            <div class="text-white text-opt m-t-5 text-center font-12">SALES</div>
            <div class="sparkline1"></div>
        </div>
    </div>
  
</div>