
@{
    ViewBag.Title = "TransactionSuccessful";
}

<h2>TransactionSuccessful</h2>
<div class="jumbotron text-center">
    <h3>Transaction Successful. Your Purchase Would Be Delivered To You Within 2-3 Working Days</h3>
</div>
