
@{
    ViewBag.Title = "View";
}

<div class="page-title-group">
    <h4 class="page-title">View Batches</h4>
    <h5 class="text-muted page-title-alt">Sub Title</h5>
</div>
<div class="cb-page-content" id="App">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="card-box">
                    <div class="card-box-head  border-b m-t-0">
                        <h4 class="header-title"><b>Select A Product</b></h4>
                    </div>
                    <div class="card-box-content form-compoenent">
                        @using (Html.BeginForm("FetchBatchesForProduct", "Batches", FormMethod.Post, new { id = "form" }))
                        {
                            <div class="form-group">
                                <label>Select A Product:</label>
                                @*@Html.DropDownList("id", (List<SelectListItem>)ViewBag.Products, "Select A Product", new { @class = "form-control", id = "product", v-Model="" })*@
                                <select name="id" v-on:change="submit" class="form-control" id="product" v-model="id">
                                    <option value="-1">Please Select A Product</option>
                                    @foreach (var item in (List<SelectListItem>)ViewBag.Products)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                            
                        }
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        new Vue({
            el: '#App',
            data: {
                id: ''
            },
            methods: {
                submit: function () {
                    if (this.id != -1) {
                        $('#form').submit();
                    }
                }
            }
        });
    </script>
}
