
@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>

<div class="jumbotron">
    <h1>Yaay! Your Account Has been Created Successfully. Activate your Account By Clicking On The Link Sent to Your Email Address</h1>
</div>

